/* buttonStyles.css */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 20px;
}

.button {
    display: block;
    width: 300px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #fdfdfd;
    text-decoration: none;
    padding: 20px;
    transition: 0.3s;
}

.button h3 {
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0px 0px 6px rgb(0, 0, 0);
}

.button p {
    font-size: 15px;
    margin-top: 10px;
    text-shadow: 0px 0px 6px rgb(0, 0, 0);
}

.button:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.button.project1 {
    background-color: #3498db;
}

.button.project2 {
    background-color: #e74c3c;
}

.button.project3 {
    background-color: #3ce783;
}